@font-face {
    font-family: "Raleway-Medium";
    src: url("./assets/font/static/Raleway-Medium.ttf");
   }

@font-face {
    font-family: "Raleway-bold";
    src: url("./assets/font/static/Raleway-Bold.ttf");
   }


* {
    box-sizing: border-box;
 }

body{
    font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-blue: #0065FC;
    --color-ligt-blue: #DEEBFF;
    --color-grey: #F2F2F2;
}


a:link{ 
    text-decoration:none; 
} 


ul{
   list-style: none;
}

h1{
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.search{
    width: 50%;
    display: flex;
    justify-content: space-around;
    border: solid var(--color-grey) 2px;
    border-radius: 10px;
}

.search > i, input, button{
    border: 0;
}

.search > i{
    width: 36px;
    height: 26px;
    background-color: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20% 0 0 20%;
}

.search > input {
    width: 100%;
    padding-left: 10px;
    color: black;
}

.search > input:focus{
    outline-width: 0;  
}

.search > input::placeholder{
    color: black; 
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.search > button {
    width: 26px;
    height: 26px;
    border-radius: 30%;
    background-color: var(--color-blue)
}

.fa-search{
   color: white;
}

.filters__title{
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
    margin-top: 27px;
}

.filters__buttons{
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}

.filters__buttons > div {
    margin: 5px 8px 3px 0px;
    padding: 0;
}

.filters__buttons > div > button {
  border:  solid var(--color-grey) 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 1px;
  padding: 0;
}

.filters__buttons > div > button:focus{
    outline-width: 0; 
}

.filters__buttons > div > button > i {
    background-color: var(--color-ligt-blue);
    border-radius: 50%;
    left: -3px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .filters__buttons > div > button > span {
    margin: 8px;
    padding-right: 3px;
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
  }

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: var(--color-blue);
}

.resultats__nbr{
    display: flex;
    margin-top: 25px;

}

.resultats__nbr > div {
    margin: 0;
}

.resultats__nbr > div > i{
    border: solid var(--color-grey) 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.resultats__nbr > p{
    position: relative;    
    top: -15px;
    padding-left: 8px;
}

.fa-info{
    color: var(--color-blue);
    font-size: 12px;
}




section > h2 {
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.card{
    box-shadow: -5px 5px 20px 10px var(--color-grey);
    border-radius: 20px;
    height: 240px;
}

.card--activite{
    height: 200px;
}

.card--activite > .card__sub > h3{
    margin: 2px 0px 2px 7px;
}

.card--popular{
    display: flex;
    box-shadow: -5px 5px 20px 10px var(--color-grey);
    border-radius: 20px;
    height: 150px;
}

.card__sub{
    width: 100%;
    padding: 10px;
    color: black;
    margin: 0;
    border-radius: 0 0 30px 30px;
}

.card__sub > h3, p{
    margin: 0;
}

.card__sub > h3{
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.card__sub--popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 30px 30px 0;
}

.card__sub--popular > div:nth-child(1){
    margin: 0 15px 0 5px;
}

.card__sub--popular > div:nth-child(1) > h3, p{
    margin: 0 0 5px;
}

.stars{
    color: var(--color-blue);
    margin: 2px 0 0 5px;
}

.block__title{
    display:flex;
    align-items: center;
}

.block__title--popular{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.section--popular{
    background-color: var(--color-grey);
    margin: 0;
    padding: 0;
}
.block__title--popular > i{
    margin-right: 40px;
}

.fa-chart-line{
    font-size: 25px;
}

footer{
    background-color: var(--color-grey)
}

footer > div > h4:nth-child(1){
    padding-top: 40px;
}


footer > div > ul > li > a{
    color: black;
}

footer > div > ul {
   padding: 0;
}

footer > div > ul > li > a{
    margin: 0;
 }

 footer > div > ul > li{
    padding-bottom: 20px;
 }








.images__size{
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    z-index: 2;
}

.images__size--popular{
    height: 100%;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
    border-radius: 20px 0px 0px 20px;
    z-index: 2;
}

.images__container{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    margin: 0;
}

.images__container--popular{
    width: 250px;
}

header > p, h1, form, div {
    margin-left : 20px;
    margin-right : 20px;
}

header > h1{
    margin-top: 30px;
}

header > form{
    margin-top: 20px;
}

section > h2, a {
    margin-left : 20px;
    padding-right : 20px;
}



.menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor:pointer;
}

.menu > li{
    width: 50%;
    text-align: center;
    padding-top: 20px;
}

.menu > li:nth-child(1){
    padding-right: 50px;
}

.menu > li:nth-child(2){
    padding-left: 20px;
    color: var(--color-blue);
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.menu > li:nth-child(3),  li:nth-child(4):hover{
    padding: 25px 25px 15px 25px;
    color: var(--color-blue);
    border-bottom: 3px solid var(--color-blue);
}

.menu > li:nth-child(4){
    padding: 25px 25px 15px 25px;
    border-bottom: 3px solid var(--color-grey);
}


@media screen and (min-width: 769px) {
    .section--popular{
        width: 300px;
    }

   .section--hebergements{
        display: grid;
        grid-template-rows: 0.3fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "top top top"
        "left center right"
        "bottomleft bottom bottomright";
    }

    .section--hebergements > h2{
        grid-area: top;
    }

    .section--hebergements:nth-child(2){
        grid-area: left;
    }

    .section--hebergements:nth-child(3){
        grid-area: center;
    }
    .section--hebergements:nth-child(4){
        grid-area: right;
    }
    .section--hebergements:nth-child(5){
        grid-area: bottomleft;
    }
    .section--hebergements:nth-child(6){
        grid-area: bottom;
    }
    .section--hebergements:nth-child(7){
        grid-area: bottomright;
    }


    section > h2, a {
        margin: 0;
        padding: 0;
    }
    
    header > p, h1, form, div {
        margin: 0;
        padding: 0;
    }

    .section--activites{
        display: grid;
        grid-template-rows: 0.3fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .section--activites > h2{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: span 4;
    }

    .section--activites:nth-child(2) {
        grid-row: 3 / 3;
        grid-column: 2 / 2;
    }

    
    

}

