@font-face {
    font-family: "Raleway-Medium";
    src: url("./assets/font/static/Raleway-Medium.ttf");
   }

@font-face {
    font-family: "Raleway-bold";
    src: url("./assets/font/static/Raleway-Bold.ttf");
   }


* {
    box-sizing: border-box;
 }

body{
    font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-blue: #0065FC;
    --color-ligt-blue: #DEEBFF;
    --color-grey: #F2F2F2;
}

img{
    object-fit: cover;
}

a:link{ 
    text-decoration:none; 
} 


ul{
   list-style: none;
}

h1{
    font-family: "Raleway-bold", Arial, sans-serif;
}

h2{
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.search{
    width: 90%;
    display: flex;
    justify-content: space-around;
    border: solid var(--color-grey) 2px;
    border-radius: 10px;
}

.search > i, input, button{
    border: 0;
    padding: 0.8rem;
    height: 100%;
}

.search > i{
    width: 3.1rem;
    height: 100%;
    background-color: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20% 0 0 20%;
}

.search > input {
    width: 100%;
    padding-left: 10px;
    color: black;
}

.search > input:focus{
    outline-width: 0;  
}

.search > input::placeholder{
    color: black; 
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.search > button {
    width: 3.1rem;
    height: 100%;
    border-radius: 20%;
    background-color: var(--color-blue)
}

.fa-search{
   color: white;
}

.filters__title{
    font-family: "Raleway-bold", Arial, sans-serif;
    margin-top: 1.68rem;
    margin-bottom: .5rem;
    font-size: 1.14rem;
}

.filters__buttons{
    margin: 0;
    display: flex;
    flex-wrap: wrap;

}

.filters__buttons > div {
    margin: 5px 8px 3px 0px;
    padding: 0;
}

.filters__buttons > div > button {
  border:  solid var(--color-grey) 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 1px;
  padding: 0;
  height: 40px;
  position: relative;
}

.filters__buttons > div > button:focus{
    outline-width: 0;
}

.filters__buttons > div > button:hover{
    cursor: pointer;
    background-color: var(--color-blue);
    color: white;
    transition: color .25s;
}

.filters__buttons > div > button > i {
    background-color: var(--color-ligt-blue);
    border-radius: 50%;
    left: -3px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }



  .filters__buttons > div > button > span {
    margin: 8px;
    padding-right: 3px;
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
    margin-left: 45px;
    font-size: 0.9rem;
  }

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    color: var(--color-blue);
}

.resultats__nbr{
    display: flex;
    align-items: flex-start;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.resultats__nbr > div {
    margin: 0;
}

.resultats__nbr > div > i{
    border: solid var(--color-grey) 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}


.fa-info{
    color: var(--color-blue);
    font-size: 12px;
}

.resultats__nbr > p {
    margin-left: 0.5rem;
}





section > h2 {
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.card{
    box-shadow: -5px 5px 20px 10px var(--color-grey);
    border-radius: 20px;
}

.card--activite{
    height: 200px;
}

.card--activite > .card__sub > h3{
    margin: 2px 0px 2px 7px;
}

.card--popular{
    display: flex;
    box-shadow: -5px 5px 20px 10px var(--color-grey);
    border-radius: 20px;
    height: 150px;
}

.card__sub{
    width: 100%;
    padding: 10px;
    color: black;
    margin: 0;
    border-radius: 0 0 30px 30px;
}

.card__sub > h3, p{
    margin: 0;
}

.card__sub > h3{
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.card__sub--popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 30px 30px 0;
}

.card__sub--popular > div:nth-child(1){
    margin: 0 15px 0 5px;
}

.card__sub--popular > div:nth-child(1) > h3, p{
    margin: 0 0 5px;
}

.stars{
    color: var(--color-blue);
    margin: 2px 0 0 5px;
}

.stars--5 > i:nth-child(5) {
    color: var(--color-blue);
}

.stars--4  > i:nth-child(5) {
    color: var(--color-grey);
}

.stars--3 > i:nth-child(4), i:nth-child(5) {
    color: var(--color-grey);
}

.block__title{
    display:flex;
    align-items: center;
}

.block__title--popular{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.section--popular{
    background-color: var(--color-grey);
    margin: 0 0 2rem 0;
    padding: 30px 0 1rem 0;
}


.block__title--popular > i{
    margin-right: 40px;
}

.fa-chart-line{
    font-size: 25px;
}

footer{
    background-color: var(--color-grey)
}

footer > div:nth-child(1){
    padding-top: 17px;
}


footer > div > h4{
    padding-top: 20px;
}


footer > div > ul > li > a{
    color: black;
}

footer > div > ul {
   padding: 0;
}

footer > div > ul > li > a{
    margin: 0;
 }

 footer > div > ul > li{
    padding-bottom: 20px;
 }








.images__size{
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    z-index: 2;
}

.images__size--popular{
    height: 100%;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
    border-radius: 20px 0px 0px 20px;
    z-index: 2;
}

.images__container{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    margin: 0;
}

.images__container--popular{
    width: 250px;
}

header > p, h1, form, div {
    margin-left : 20px;
    margin-right : 20px;
}

header > h1{
    margin-top: 30px;
}

header > h1 {
    font-size: 1.4rem;
}


header > form{
    margin-top: 20px;
}

section > h2, a {
    margin-left : 20px;
    padding-right : 20px;
}

.paragraphe__more{
    margin-left : 20px;
}

section > p {
    font-family: "Raleway-bold", Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-top: .8rem;
    margin-bottom: 3rem;
}



.menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor:pointer;
}

.menu > li{
    width: 50%;
    text-align: center;
    padding-top: 20px;
}


.menu > li > a {
   text-decoration: none;
   color: var(--color-blue);
}

.menu > li:nth-child(1){
    padding-right: 50px;
}

.menu > li:nth-child(2){
    padding-left: 60px;
    color: var(--color-blue);
    font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
}

.menu > li:nth-child(3),  li:nth-child(4):hover{
    padding: 25px 25px 15px 25px;
    color: var(--color-blue);
    border-bottom: 3px solid var(--color-blue);
}

.menu > li:nth-child(4){
    padding: 25px 25px 15px 25px;
    border-bottom: 3px solid var(--color-grey);
}

.menu > li:nth-child(4) > a {
    color: black;
}


@media screen and (min-width: 769px) {
    .menu{  
        display: grid;
        grid-template-columns: 10fr 1fr 1fr 1fr;

    }

    .menu > li {
        width: 160px;
        text-align: center;
        padding: 0;
    }

    .menu > li:nth-child(1){
        text-align: inherit;
    }

    .menu > li:nth-child(2) {
        order: 4;
        padding-left: 0px;
        padding: 25px 25px 15px 25px;
    }
    
    .menu > li:nth-child(3),  li:nth-child(4):hover{
        border-bottom: 0;
        border-top: 3px solid var(--color-blue);
    }
    
    .menu > li:nth-child(4){
        border-bottom: 0;
        border-top: 3px solid var(--color-grey);
    }
    
    header > h1 {
        margin-bottom: 0.5rem;
    }
    .search{
        width: 31%;
    }


    .search > button {
        width: 40%;
        border-radius: 0 10px 10px 0;
    }
    .search > input::placeholder{
        font-size: 0.9rem;
    }

    .search > button::after {
        content: 'Rechercher';
        font-family: "Raleway-bold", Arial, Helvetica, sans-serif;
        color: white;
        width: 100%;
    }

    .search > i, input, button {
        padding: 0.6rem;
    }
    
    .fa-search{
        display: none;
    }

    .filters__block {
        margin-top: 1.4rem;
        display: flex;
        align-items: center;
    }

    .filters__title {
        margin: 0;
        margin-right: 2rem;
    }

    .filters__buttons > div {
        margin-right: 1.5rem;    
    }

    .resultats__nbr{
        margin-bottom: 0;
    }
   
    body{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 65% 35%;
    grid-template-areas: 
    "header header"
    "hebergements populaires"
    "activites activites"
    "footer footer";
    row-gap: 30px;
   }

   body > header, section{
    margin:20px;
   }

   body > header, section{
    margin-top:0;
   }


   header{
    grid-area: header;  
   }

     header > h1 {
    font-size: 1.1rem;
    }

    section > h2 {
        font-size: 1.05rem;
    }

    section > div > h2 {
        font-size: 1.05rem;
    }


   .section--popular{
    grid-area: populaires;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-right: 20px;
   }

   .images__container--popular, .card--popular {
       height: 120px;
   }

   .card__sub > h3 {
       font-size: 0.8rem;
   }

   .card__sub > div > h3 {
    font-size: 0.8rem;
    }

   .card__sub > p {
    font-size: 0.7rem;
    }

    .card__sub > div > p {
        font-size: 0.7rem;
        }

   .section--popular, .section--hebergements {
    margin-bottom: 0;
   }

   .section--hebergements{
    margin-right: 20px;
    grid-area: hebergements; 
    background-color: var(--color-grey); 
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.15fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "top top top"
    "left center right"
    "bottomleft bottom bottomright";
    column-gap: 20px;
    row-gap: 20px;
   }

   .section--activites{
    grid-area: activites;  
   }

   footer{
    grid-area: footer;  
   }


  
    .section--hebergements > h2{
        grid-area: top;
    }

    .section--hebergements > a > div  {
        background-color: white;
    }

    .section--hebergements > a > div > div{
        border-radius: 20px 20px 0 0;
    }

    .section--hebergements > a {
        border-radius: 20px 20px 0 0;
    }

    .section--hebergements > a > div > div > img {
       border-radius: 20px 20px 0 0;
       height: 100%;
       object-fit: cover;
    }

    .section--hebergements > a > div > .images__container {
        height: 100px;
        
     }

     
    section > p {
    margin-bottom: 0rem;
    }



    section > h2, a {
        margin: 0;
        padding: 0;
    }
    
    header > p, h1, form, div {
        margin: 0;
        padding: 0;
    }

    body > header {
            margin-bottom: 0;
    }
 

 




    
    .section--activites{
        display: grid;
        grid-template-rows: 40px 160px  30px 130px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }


    .section--activites > h2{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: span 4;
    }

    .section--activites > a:nth-child(2){
        grid-row: 2 / span 3;
        grid-column: 1 / 1;
    }

    .card--activite {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }

     .card--activite > .images__container{
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .card--activite > div > img{
        height: 100%;
        width: auto;
        border-radius: 20px 20px 0 0;
        padding: 0; 
    }

  
    .section--activites > a:nth-child(3){
        grid-row: 2 / span 2;
        grid-column: 2 / span 1;
    }

    .section--activites > a:nth-child(4){
        grid-row: 3.5 / span 1;
        grid-column: 2 / span 1;
        
    }

    .section--activites > a > div > div > img {
        width: 100%;
        object-fit: cover;
    }




    .section--activites > a:nth-child(3) > div > div 
    > img {
        width: 100%;
        object-fit: cover;
    }



    .section--activites > a:nth-child(5){
        grid-row: 2 / span 3;
        grid-column: 3 / span 1;
    }

    
    .section--activites > a:nth-child(6){
        grid-row: 2 / span 1;
        grid-column: 4 / span 1;
    }

    
    .section--activites > a:nth-child(7){
        grid-row: 3 / span 2;
        grid-column: 4 / span 1;
    }

 
    footer{
        display: flex;
        justify-content: flex-start;
    }

    footer > div:nth-child(1){
        padding-top: 0px;
        margin-left: 2rem;
    }
    
    footer > div {
        width: 33%
    }

 

}
